spring:
  datasource:
    url: jdbc:mysql://47.107.234.173:3306/book?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=Asia/Shanghai
    driverClassName: com.mysql.cj.jdbc.Driver
    username: kami
    password: dgd039133
    #    druid数据库连接池配置
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 20  # 初始化数据连接池大小
      min-idle: 10     # 空闲数
      max-active: 100   #最大连接数
  jpa:
    database: MySQL
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  #redis配置
  redis:
    host: 127.0.0.1
    port: 6379
    password:    #默认为空
  # spirng 缓存管理参数配置
  cache:
    redis:
      time-to-live: 500000
  #定义时间的json序列化格式
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: "GMT+8"
server:
  port: 8001